body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1b1a19;
    color: #FFFACD;
    padding: 20px;
}

.corazon {
    position: fixed;
    width: 40px;
    height: 40px;
    background: url('img/corazon.png') no-repeat center/contain;
    animation: explosion 1.5s ease-out;
}

@keyframes explosion {
    0% { transform: scale(0); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.7; }
    100% { transform: scale(2); opacity: 0; }
}

.fondo {
    background: url("img/back.png") no-repeat center center fixed;
    background-size: cover; 
    color: white; 
    font-family: Arial, sans-serif; 
    border-radius: 10px;
}

main, .timeline, footer {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px; 
    border-radius: 10px; 
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

#yt-btn {
    width: 80px;
    height: 80px;
    background-color: #7B68EE;
    border: 2px solid #7B68EE;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

@keyframes latido {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#yt-btn {
    animation: latido 1s infinite;
}

    #yt-btn:hover {
        background: purple; 
    }




header {
    background-color: #4B0082;
    padding: 20px;
    border-radius: 10px;
}

 header h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
   }



footer {
    margin-top: 20px;
    font-size: 14px;
}

.timeline {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #272424;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .timeline h2 {
        text-align: center;
        color: #FFFACD;
    }

.timeline-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.timeline-date {
    width: 100px;
    text-align: center;
    font-weight: bold;
    color: #FFFACD;
}

.timeline-content {
    background: #4B0082;
    padding: 10px;
    border-radius: 5px;
    color: white;
    flex: 1;
}

// Animaciones 

.heart {
    position: fixed;
    bottom: 0;
    opacity: 0.8;
    animation: floatUp 5s linear infinite;
}

@keyframes floatUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}
.gira:hover {
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}


.slider {
    width: 90%; 
    max-width: 600px; 
    height: 200px; 
    overflow: hidden;
    position: relative;
    margin: 20px auto; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center; 
    align-items: center;
}

.imgslide {
    width: auto; 
    height: 100%; 
    max-width: 100%; 
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover; 
}

.act {
    opacity: 1; 
}

.contador-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-top: 20px;
}

#teamo-btn {
    background: #4B0082;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

    #teamo-btn:hover {
        background: red;
        color: white;
    }

#musica-btn {
    background: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

    #musica-btn:hover {
        background: darkviolet;
    }
